@charset "UTF-8";


/* Paletas de cores 
Verde:#49A09D
Lilas:#5F2C82
*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    background-color:#5F2C82 ;
    width: 100vw;
    height: 100vh;
}

main{
    width: 100vw;
    height: 100vh;
}

section#login{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
}


section#login > div#imagem{
    background-image: url(../imagem/kame-house.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    background-position:center center;
}

section#login > div#formulario{
    display: block;
    padding: 10px;
}